@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'norse';
    src: url('../fonts/norse-bold-webfont.woff2') format('woff2'),
        url('../fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@layer base {
    [type='text'],
    [type='email'],
    [type='password'],
    [type='tel'] {
        @apply mt-0.5 block w-full rounded-md border-gray-300 text-sm text-gray-700 placeholder-gray-400 shadow-sm placeholder:italic invalid:border-warning invalid:text-warning focus:border-primary focus:outline-none focus:ring-1 focus:ring-primary invalid:focus:border-warning invalid:focus:ring-warning;

        @apply invalid:placeholder-shown:border-gray-300 invalid:placeholder-shown:text-gray-700 invalid:placeholder-shown:focus:border-primary
        invalid:placeholder-shown:focus:ring-primary;
    }

    label {
        @apply block text-sm font-medium text-gray-700;
    }

    svg {
        @apply stroke-gray-300 stroke-1;
    }

    h1 {
        text-shadow: 1px 1px 1px grey, 2px 2px 1px grey;
    }
}
