@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'norse';
    src: url('../fonts/norse-bold-webfont.woff2') format('woff2'),
        url('../fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@layer base {
    [type='text'],
    [type='email'],
    [type='tel'],
    [type='password'] {
        @apply block w-full rounded-md border border-gray-300 text-gray-900 shadow-sm outline-none ring-inset invalid:border-red-500 invalid:text-red-500 invalid:placeholder-shown:border-gray-300 invalid:placeholder-shown:text-gray-500 focus:ring-2 invalid:focus:ring-red-500 invalid:placeholder-shown:focus:ring-indigo-500;
    }

    label {
        @apply text-sm font-medium text-gray-700;
    }

    svg {
        @apply stroke-[#301bc1] stroke-2;
    }

    [type='tel'] {
        @apply focus:ring-2 focus:placeholder-shown:ring-indigo-500;
    }
}
